<!DOCTYPE html>
<html>
    <head>
        <title>Create A To Do List</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'todo_list_list' %}">All Lists</a>
            </nav>
        </header>
        <main>
            <h1>Create A New List</h1>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
          </form>
        </main>
    </body>
</html>
