<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<body>
<main>
    <h1>
        {{ list_items.name }}
    </h1>
    <a href="{% url "todo_list_list" %}">Main Page</a>
    <a href="{% url "todo_list_update" list_items.id %}">Edit A List</a>
    <table>
        <h2> Tasks </h2>
    <thead>
        <tr>
            <th> Task </th>
            <th> Due Date </th>
        </tr>
    </thead>
    <tbody>
        {% for item in list_items.items.all %}
        <tr>
            <td>
                <a href="{% url 'todo_listitem_update' item.id%}">  {{ item.task }} </a>
            </td>
            <td>
                {{ item.due_date |date:"M d Y"}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </main>
    </body>
    </html>
