<!DOCTYPE html>
<html>
    <head>
        <title>{{ todoitem.task }} - Edit List Tasks - </title>
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'todo_list_list' %}">All Lists</a>
            </nav>
        </header>
        <main>
            <h1>Edit A List</h1>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Submit Changes</button>
          </form>
        </main>
    </body>
</html>
