<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<body>
<main>
    <h1>
        My Lists
    </h1>
    <a href="{% url 'todo_list_create' %}">Create New List</a>
<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Number of items</th>
    </tr>
</thead>
<tbody>
    {% for list in list_of_lists %}
    <tr>
        <td>
            <a href="{%url 'todo_list_detail' list.id %}">{{ list.name }}</a>
        </td>
        <td>
            {{ list.items.all | length }}
    </tr>
    {% endfor %}
</tbody>
</table>
</main>
</body>
</html>
